<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input data-ng-model="userName" type="text" class="form-control" placeholder="user@domain" autofocus>
        <input data-ng-model="password" type="password" class="form-control" placeholder="password">
        <label class="checkbox">
            <input data-ng-model="rememberMe" type="checkbox" value="remember-me"> Remember me
        </label>
        <button data-ng-click="login()" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div> <!-- /container -->
